<tr>
  <td><a href="/dashboard/{{id}}">EDIT</a></td>
  <td>{{id}}</td>
  <td><img src="/images/{{products.[0].filename}}" alt="{{products.[0].description}}"></td>
  <td>{{dashboard.name}}</td>
  <td>{{category}}</td>
  <td>{{manufacturer}}</td>
  <td>Retail</td>
  <td>QTY Left</td>
  <td>Orders</td>
  <td>Customers</td>
</tr>