<tr>
  <td><a href="/dashboard/{{product.productid}}">EDIT</a></td>
  <td>{{product.productid}}</td>
  <td><img src="/images/{{products.[0].productImage}}" alt="{{products.[0].description}}"></td>
  <td>{{product.name}}</td>
  <td>{{product.category}}</td>
  <td>{{product.manufacturer}}</td>
  <td>{{product.customers}}</td>
  <td>{{product.reorder}}</td>
  <td>{{product.quantity}}</td>
</tr>
