<section class="product">
  <img src="/images/{{product.filename}}" alt="{{product.description}}">
  <div class="product-details">
    <h3>{{product.title}}</h3>
    <p>By: {{product.artist}}</p>
    <!-- The custom method 'format_date' is used to calculate the end date and format it correctly -->
    <p>Exhibition open until: {{ format_date product.exhibition_date}}</p>
  </div>
</section>